<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>class 12</title>
	<link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
</head>

<body>
	<form action="/makePost" method="post" enctype="multipart/form-data">
		<input type="file" name="myImage">
		<input type="text" name="caption">
		<input type="submit" value="post :D">
	</form>

	<div class="posts">
		<% for(let post of allPosts){ %>
			<img src="/uploads/<%= post.file %>">
			<p>
				<%= post.caption %>
			</p>
			<% } %>
	</div>
</body>

</html>