<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FADEFINDER</title>
	<link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
</head>

<body>
	<a href="/match"><button>FIND FADES</button></a>
</body>

</html>