<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FADEFINDER</title>
	<link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
</head>

<body id="body-home">
	<%- include("parts/bgvid") %>
		<img id="home-logo" src="fadefinder-white.png" alt="fadefinder logo">
		<a href="/start" id="catch-a-fade">CATCH A FADE</a>
</body>

</html>