<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FADEFINDER - fades</title>
	<link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
</head>

<body>
	<%- include("parts/navbar") %>
		<section id="likes">
			<h1>likes</h1>
			<div class="like-scroller">
				<% for(let profile of profiles){ %>
					<div class="card-container likes">
						<%- include("parts/profile-card", { profile: profile }) %>
							<div class="like-dislike-btns" data-userid="<%= profile.id %>">
								<button class="dislike-btn">🙅‍♂️</button>
								<button class="like-btn">🥊</button>
							</div>
					</div>

					<% } %>
			</div>

		</section>

</body>

</html>