:root {
	font-family: Helvetica;

	--card-width: 300px;

	--border-radius: 5px;

	/* var for padding of elements */
	--card-padding-amt: 10px;

	--hover-trans-time: 60ms;
}

h1 {
	-webkit-text-stroke: 2px rgb(0, 0, 0);
	font-size: 40px;
	/* text-shadow:
		-0.5px -0.5px 0 #000,
		0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000; */
	margin: 0;

}

.header-box {
	background-color: coral;
	padding: 10px 2px;
	border-radius: 20px;
	width: fit-content;
	display: flex;
	align-items: center;
}

.header-box img {}

p {
	-webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

button {
	font-family: Helvetica;
	font-weight: bold;
}

body {
	/* background-color: skyblue; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */

	padding: 20px;
	/* background-image: url(bg-tile.png); */

	/* background-color: #f5f5f5; */
}

/* HOMEPAGE */

#body-home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#bgvid {
	z-index: -2;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

#bgshader {
	background-color: black;
	opacity: 0.25;
	z-index: -1;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	/* background-image: url("/bg-tile-full-opacity.png") */
}

#home-logo {
	height: 50%;
	width: auto;
}

#catch-a-fade {
	z-index: 1;
	translate: 0 -70px;
	font-size: 40px;
	cursor: pointer;
	font-weight: bold;
	background-color: red;
	padding: 10px;
	color: white;
	border-radius: 5px;
	/* -webkit-text-stroke: 2px rgb(255, 255, 255); */
}

#catch-a-fade:hover {
	color: red;
	background-color: white;
	-webkit-text-stroke: 2px red;
}

/* START PAGE */

#body-start {
	height: calc(100vh - 100px);

	display: flex;
	flex-direction: column;
	align-items: center;
}

#body-start form section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 60%; */
	gap: 10px;

}

#body-start #body-container {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: auto;
	border-radius: 20px;
}

#body-start h2 {
	margin: 0 0 20px 0;
}

#body-start label,
#body-start input,
#body-start select,
#body-start button {
	transition: all 50ms;
}

#body-start label:hover {
	scale: 100.5%;
}

#body-start input:hover,
#body-start select:hover,
#body-start button:hover {
	scale: 102%;
}

#body-start label,
#body-start input,
#body-start select {
	font-size: 20px;
	-webkit-text-stroke: 0.75px rgb(0, 0, 0);
}

#body-start button {
	cursor: pointer;
	font-weight: bold;
	background-color: red;
	padding: 10px;
	color: white;
	font-size: 30px;
	-webkit-text-stroke: 1px rgb(255, 255, 255);

	margin: auto;
	border: none;
	border-radius: 10px;
}

#body-start button:hover {
	color: red;
	background-color: white;
	-webkit-text-stroke: 1px rgb(255, 0, 0);
	outline: red 3px solid;
}

#body-start h2 {
	font-size: 32px;
	align-self: center;
	-webkit-text-stroke: 1px rgb(0, 0, 0);
}



/* NAVBAR */

#navbar {
	position: fixed;
	background-color: white;
	width: fit-content;
	bottom: 25px;
	left: 25px;
	z-index: 10;
	display: flex;
	gap: 0px;
	padding: 5px;
	border-radius: 15px;

	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);

	scale: 140%;
}

#navbar a {
	text-decoration: none;
	color: black;

	flex: 1 1 100%;
	aspect-ratio: 1 / 1;
	width: 100%;
	height: 45px;

	text-align: center;

	border-radius: 11px;
	padding: 4px;
}

#navbar a,
#navbar div {
	transition: all 60ms;

	will-change: scale, background-color;
}

/* https://atendesigngroup.com/articles/do-more-less-aria-use-common-aria-correctly */
#navbar a:hover,
#navbar a[aria-current="page"] {
	/* outline: red solid 3px; */
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	z-index: 100;
}

#navbar a:hover {
	scale: 105%;
	background-color: white;
}

#navbar a:hover div,
#navbar a[aria-current="page"] div {
	scale: 105%;
}


#navbar p {
	margin: 0;
	display: inline-block;
}

#navbar .nav-text {
	text-align: center;
	font-size: 14px;
	translate: 0 -11px;
}

/* makes the icon box square */
#navbar .nav-icon {
	font-size: 30px;
	height: 38px;
	aspect-ratio: 1 / 1;
	text-align: center;
	vertical-align: middle;
	translate: 0 -4px;
}

/* CORNER LOGO */

#corner-logo {
	position: fixed;
	/* background-color: white; */
	width: fit-content;
	bottom: 25px;
	right: 25px;
	z-index: 10;
	padding: 5px;

	/* box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3); */

	scale: 140%;
}

.card-container {
	width: fit-content;
	display: flex;
	flex-direction: column;
	/* align-items: stretch; */
	align-items: center;
}

.card-container[hidden] {
	display: none;

}

.card-container.match {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

#body-match {
	background-image: url(bg2.jpg);
	background-size: 100vw 100vh;
}

#body-fades {
	background-size: 100vw 100vh;
	background-image: url(bg1.jpg);
}

#body-start {
	background-size: 100vw 100vh;
	background-image: url(bg3.jpg);
}


#no-more-profiles-card {
	flex-direction: column;
	opacity: 60%;
}


#no-more-profiles-card>h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;
	width: 210px;
	height: 210px;
	font-size: 200px;
	margin: 0;

	opacity: 50%;
}

.profile-card {
	width: 240px;
	aspect-ratio: 4 / 5;

	/* border: 2px solid #000; */
	border-radius: var(--border-radius);

	display: grid;

	overflow: hidden;
	justify-content: stretch;

	cursor: pointer;

	transition:
		width 150ms,
		height 150ms,
		scale var(--hover-trans-time);

	will-change: width, height, scale;
}

/* fix width for cards on match page */
.profile-card.match {
	width: 300px;
}


.profile-card.expanded {
	width: 500px;
}

.profile-card:hover {
	scale: 102%;
}

.profile-card .corner-logo {
	grid-area: 1 / 1 / 2 / 2;
	justify-self: self-end;
	opacity: 0.5;
	height: 80px;
	width: auto;
}

.profile-card>img.profile-image {
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	height: 100%;
	grid-area: 1 / 1 / 3 / 2;
}

.profile-card>.profile-name {
	margin: 0;
	/* padding: var(--card-padding-amt);
	padding-bottom: calc(var(--card-padding-amt) * 2); */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Images/Using_gradients */
	/* phasing out gradient in favor of shaderoom aesthetics */
	/* background-image: linear-gradient(to bottom, white, #0000); */

	background-color: peachpuff;
	margin: 10px auto;

	padding: 10px 2px;
	border-radius: 20px;

	grid-area: 1/1/2/2;
	display: inline;
	align-self: start;
	text-align: center;
	z-index: 1;
}

.profile-card>.profile-stats {
	padding: var(--card-padding-amt);
	padding-top: calc(var(--card-padding-amt) * 2);
	grid-area: 2/1/2/2;
	display: inline;
	align-self: end;
	background-image: linear-gradient(to top, black, #0000);

}



.profile-card p {
	margin: 0;
	width: 100%;
	color: white;
	-webkit-text-stroke: 1px rgb(255, 255, 255);
}


.like-msg-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
	justify-self: center;
	border-radius: var(--border-radius);
	z-index: 1;
	font-size: 20px;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
	background-color: white;

	gap: 10px;

}

.like-msg-box button {
	cursor: pointer;
	background-color: red;
	font-size: 16px;
	color: white;
}

.like-msg-box[hidden] {
	/* display: none; */
	opacity: 0%;
	pointer-events: none;
}

.card-container {
	transition: translate 75ms;
}

/* new conditional styling!!! */
.card-container:has(.like-msg-box[hidden]) {
	translate: -50% -40%;
}

.like-msg-box input {
	display: inline-flex;
	font-size: 16px;
}

.like-msg-box label {
	font-size: 16px;
}


.like-msg-box label,
.like-msg-box input,
.like-msg-box button {
	transition: all 50ms;
}

.like-msg-box label:hover {
	scale: 100.5%;
}

.like-msg-box input:hover,
.like-msg-box button:hover {
	scale: 102%;
}

.like-msg-box label,
.like-msg-box input {
	font-size: 20px;
	-webkit-text-stroke: 0.75px rgb(0, 0, 0);
}

.like-msg-box button {
	cursor: pointer;
	font-weight: bold;
	background-color: red;
	padding: 10px;
	color: white;
	font-size: 18px;
	-webkit-text-stroke: 1px rgb(255, 255, 255);

	margin: auto;
	border: none;
	border-radius: 10px;
}

.like-msg-box button:hover {
	color: red;
	background-color: white;
	-webkit-text-stroke: 1px rgb(255, 0, 0);
	outline: red 3px solid;
}






.like-dislike-btns {
	display: flex;
	justify-content: space-between;
}

.card-container.fades .like-dislike-btns {
	width: 80%;
}


.like-dislike-btns button {
	/* width: 50%; */
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	z-index: 1;
	font-size: 30px;

	--translate-vert: -15%;
	--translate-horiz: 30%;

	transition:
		scale var(--hover-trans-time),
		rotate var(--hover-trans-time);

	will-change: scale, rotate;

	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

/* different styling for likes page */
.card-container.fades .like-dislike-btns button {
	font-size: 17px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.like-dislike-btns button:hover {
	scale: 120%;
}

.like-dislike-btns .dislike-btn {
	/* background-color: rgb(210, 210, 210); */
	translate: calc(var(--translate-horiz) * -1) var(--translate-vert);
	rotate: 3deg;
}

.like-dislike-btns .dislike-btn:hover {
	rotate: 5deg;
}

.like-dislike-btns .like-btn {
	background-color: rgb(255, 0, 0);
	color: white;
	translate: var(--translate-horiz) var(--translate-vert);
	rotate: -3deg;
}

.like-dislike-btns .like-btn:hover {
	rotate: -5deg;
}

.like-scroller {
	display: flex;
	gap: 40px;
}

/* FADE PAGE */

.fade-scroller {
	display: flex;
	gap: 10px;
}

#body-fades .header-box {
	margin: 20px 0;
}

#fade-requests .fade-scroller {
	gap: 10px;
}

.fade-card {
	width: 300px;
	/* aspect-ratio: 5 / 4; */

	/* border: 2px solid #000; */
	border-radius: 5px;

	/* var for padding of elements */
	--card-padding-amt: 10px;

	display: grid;

	overflow: hidden;
	justify-content: stretch;

	cursor: pointer;

	transition:
		width 150ms,
		height 150ms;

	/* outline: black 2px solid; */
	background-color: white;
}

.fade-card .corner-logo {
	position: absolute;
	grid-area: 1 / 2 / 2 / 2;
	justify-self: self-end;
	opacity: 0.5;
	height: 80px;
	width: auto;
}

.fade-card.expanded {
	width: 500px;
}

.fade-card:hover {
	scale: 105%;
}

.fade-card>img.profile-image {
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	height: 100%;
}

.fade-card>img.instigator {
	grid-area: 1 / 1 / 3 / 2;
}

.fade-card>img.opponent {
	grid-area: 1 / 2 / 3 / 3;
}

/* .fade-card>.fade-name {
	margin: 0;
	padding: var(--padding-amt);
	padding-bottom: calc(var(--padding-amt) * 2);
	background-image: linear-gradient(to bottom, white, #0000);
	grid-area: 1/1/2/3;
	display: inline;
	align-self: start;
} */

.fade-card>.fade-stats {
	padding: var(--card-padding-amt);
	padding-top: calc(var(--card-padding-amt) * 2);
	grid-area: 3/1/4/3;
	display: inline;
	align-self: end;
	/* background-image: linear-gradient(to top, black, #0000); */

}

.fade-card p,
.fade-card h2 {
	margin: 0;
	width: 100%;
	color: rgb(0, 0, 0);
	-webkit-text-stroke: 1px rgb(0, 0, 0);
}

.fade-card h2 {
	text-align: center;
}

#body-fades #fade-requests .header-box {
	background-color: pink;
}