:root {
	font-family: 'Helvetica Neue';

	--card-width: 300px;

	--border-radius: 5px;

	/* var for padding of elements */
	--card-padding-amt: 10px;

	--hover-trans-time: 60ms;
}

body {
	/* background-color: skyblue; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
}

form section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	gap: 10px;
}

#navbar {
	position: fixed;
	background-color: white;
	width: fit-content;
	bottom: 10px;
	left: 10px;
	z-index: 10;
	display: flex;
	gap: 0px;
	padding: 5px;
	border-radius: 15px;

	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

#navbar a {
	text-decoration: none;
	color: black;

	flex: 1 1 100%;
	aspect-ratio: 1 / 1;
	width: 100%;
	height: 45px;

	text-align: center;

	border-radius: 11px;
	padding: 4px;
}

#navbar a,
#navbar div {
	transition: all 60ms;
}

/* https://atendesigngroup.com/articles/do-more-less-aria-use-common-aria-correctly */
#navbar a:hover,
#navbar a[aria-current="page"] {
	/* outline: red solid 3px; */
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	z-index: 100;
}

#navbar a:hover {
	scale: 105%;
	background-color: white;
}

#navbar a:hover div,
#navbar a[aria-current="page"] div {
	scale: 105%;
}


#navbar p {
	margin: 0;
	display: inline-block;
}

#navbar .nav-text {
	text-align: center;
	font-size: 14px;
	translate: 0 -11px;
}

/* makes the icon box square */
#navbar .nav-icon {
	font-size: 30px;
	height: 38px;
	aspect-ratio: 1 / 1;
	text-align: center;
	vertical-align: middle;
	translate: 0 -4px;
}

.card-container {
	width: fit-content;
}

.card-container.match {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}


.profile-card {
	width: 240px;
	aspect-ratio: 4 / 5;

	/* border: 2px solid #000; */
	border-radius: var(--border-radius);

	display: grid;

	overflow: hidden;
	justify-content: stretch;

	cursor: pointer;

	transition:
		width 150ms,
		height 150ms,
		scale var(--hover-trans-time);
}

/* fix width for cards on match page */
.profile-card.match {
	width: 300px;
}


.profile-card.expanded {
	width: 500px;
}

.profile-card:hover {
	scale: 103%;
}

.profile-card>img.profile-image {
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	height: 100%;
	grid-area: 1 / 1 / 3 / 2;
}

.profile-card>.profile-name {
	margin: 0;
	padding: var(--card-padding-amt);
	padding-bottom: calc(var(--card-padding-amt) * 2);
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Images/Using_gradients */
	background-image: linear-gradient(to bottom, white, #0000);
	grid-area: 1/1/2/2;
	display: inline;
	align-self: start;
}

.profile-card>.profile-stats {
	padding: var(--card-padding-amt);
	padding-top: calc(var(--card-padding-amt) * 2);
	grid-area: 2/1/2/2;
	display: inline;
	align-self: end;
	background-image: linear-gradient(to top, black, #0000);

}



.profile-card p {
	margin: 0;
	width: 100%;
	color: white;
}

.like-dislike-btns {
	display: flex;
	/* width: var(--card-width); */
	justify-content: space-between;

}

.like-dislike-btns button {
	/* width: 50%; */
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	z-index: 1;
	font-size: 20px;

	--translate-vert: -15%;
	--translate-horiz: 30%;

	transition:
		scale var(--hover-trans-time),
		rotate var(--hover-trans-time);

	will-change: scale, rotate;

	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

/* different styling for likes page */
.card-container.likes .like-dislike-btns button {
	font-size: 17px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.like-dislike-btns button:hover {
	scale: 120%;
}

.like-dislike-btns .dislike-btn {
	/* background-color: rgb(210, 210, 210); */
	translate: calc(var(--translate-horiz) * -1) var(--translate-vert);
	rotate: 3deg;
}

.like-dislike-btns .dislike-btn:hover {
	rotate: 5deg;
}

.like-dislike-btns .like-btn {
	background-color: rgb(255, 0, 0);
	color: white;
	translate: var(--translate-horiz) var(--translate-vert);
	rotate: -3deg;
}

.like-dislike-btns .like-btn:hover {
	rotate: -5deg;
}

.like-scroller {
	display: flex;
	gap: 40px;
}


.fade-card {
	width: 300px;
	aspect-ratio: 3 / 2;

	/* border: 2px solid #000; */
	border-radius: 5px;

	/* var for padding of elements */
	--card-padding-amt: 10px;

	display: grid;

	overflow: hidden;
	justify-content: stretch;

	cursor: pointer;

	transition:
		width 150ms,
		height 150ms;
}

.fade-card.expanded {
	width: 500px;
}

.fade-card:hover {
	scale: 105%;
}

.fade-card>img.profile-image {
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	height: 100%;
}

.fade-card>img.instigator {
	grid-area: 1 / 1 / 3 / 2;
}

.fade-card>img.opponent {
	grid-area: 1 / 2 / 3 / 3;
}

/* .fade-card>.fade-name {
	margin: 0;
	padding: var(--padding-amt);
	padding-bottom: calc(var(--padding-amt) * 2);
	background-image: linear-gradient(to bottom, white, #0000);
	grid-area: 1/1/2/3;
	display: inline;
	align-self: start;
} */

.fade-card>.fade-stats {
	padding: var(--card-padding-amt);
	padding-top: calc(var(--card-padding-amt) * 2);
	grid-area: 2/1/2/3;
	display: inline;
	align-self: end;
	background-image: linear-gradient(to top, black, #0000);

}

.fade-card p,
.fade-card h2 {
	margin: 0;
	width: 100%;
	color: white;
}